*{box-sizing: border-box; padding: 0; margin: 0;}
body,.dropdown a:first-child{
  font-size: large;
}
.navbar {
    background-color:yellow;
    padding: 10px;
    justify-content: center;
    
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: green;
    padding: 5px;
  }
  
  .nav-item a:hover {
    background-color: #333;
    color: #fff;
  }
  .dropdown{
    background-color: yellow !important;
    outline: 0 !important;
    color:green !important;
  }
  .dropdown a{
    background-color: yellow;
    color: green;
    margin-top: -7px;
  }
  .dropdown-menu{
    background-color: yellow!important;
    color: green!important;
    padding: 0;
    margin-top: 0!important;
  }
  .dropdown-item a{
    justify-content:center;
    align-items:center;
  }
  img{
    display: block;
    width: 100%;
    max-width: 2rem;
  }
  #shopping_cart img{
    width: 100%;
    max-width: 2rem;
  }
  #shopping_cart{
    display: flex;
    align-items: center;
    float: right;
  }
  #shopping_cart span{
    margin-left: 5px;
  }